{% load staticfiles %}
<!doctype html>
<html>
<head>
{% include "chunks/favicon.html" %}

<script src="{% static '/jquery/jquery-min.js' %}"></script>


{% block header %}{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

</head>
<body>
<div id="top">
    <div title>
{% include "chunks/top.html" %}
   </div>
   <div class="user">
{% include "chunks/registration.html" %}
   </div>
   <div class="menu">
{% include "chunks/menu.html" %}
    </div>
</div>
<div id="content">
{% block content %}{% endblock %}÷÷
</div>
<div id="bottom">
{% include "chunks/footer.html" %}
</div>
</body>
</html>
